<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>疫情展示</title>
        <link rel="stylesheet" th:href="@{css/bootstrap.css}">
        <script th:src="@{js/echarts.min.js}"></script>
    </head>
    <body>

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" align="center" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '全国有确诊趋势',
                left: 'left'
            },
            xAxis: {
                type: 'category',
                data: ['04-08', '04-13', '04-23', '04-28', '05-03', '05-08', '05-13']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [150, 230, 224, 218, 135, 147, 260],
                type: 'line'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

        <h2>国内疫情</h2>

        <table  class="table table-hover">
            <thead>
                <tr>
                    <th>地区</th>
                    <th>现有</th>
                    <th>累计</th>
                    <th>治愈</th>
                    <th>死亡</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bean:${dataList}">
                    <td th:text="${bean.area}"></td>
                    <td th:text="${bean.newConfirm}"></td>
                    <td th:text="${bean.confirm}"></td>
                    <td th:text="${bean.heal}"></td>
                    <td th:text="${bean.dead}"></td>
                </tr>
            </tbody>
        </table>






    </body>
</html>